@charset "UTF-8";


#backBoard {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
	margin-top: 10px;
}
#detailBoard {
    background-color: #E2E2E2;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.bi.bi-person-fill {
    font-size: 150px;
    height: auto; 
    margin-left: 30px;
}
/* 텍스트 박스 스타일 */
#selected-course {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    resize: none;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}
/* 레이블과 텍스트 박스 정렬 */

.selected-course-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.modal-footer button {
    margin-left: auto;
}
.selected td{
	background-color: #87CEFA;
}
.modal-body{
	max-height: 200px; 
	overflow-y: auto;
}
#photo-preview{
	display: none;
	width : 250px;
	height:250px;
	margin:0 0 0 200px;
}
.bi.bi-arrow-clockwise{
	font-size: 24px;
}
.payment-pending {
    color: green !important; 
    font-weight: bold;
}
.payment-completed, .attd_success {
    color: #008DD8 !important;
    font-weight: bold;
}
.payment-cancelled, .attd_fail {
    color: red !important;
    font-weight: bold;
}
.no-course, .no-attd, .no-payment{
	text-align: center;
}




