@charset "UTF-8";
.display-flex {
	display: flex;
}
#left-section {
	width: 15%;
	height: 100%;
}
#right-section {
	width: 84%;
	height: 100%;
	background-color: white;
	padding: 30px;
}
.second-sidebar td {
	padding: 5px 0;
}
a {
	color: black;
}
.blue-color {
	color: rgb(88, 88, 255);
	cursor: pointer;
}
.red-color {
	color: red;
}
.table-bordered th {
	text-align: center;	
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.display-grid {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
}
.display-inline {
	display: inline;
}
.vertical-align-bottom {
	vertical-align: bottom;
	height: 78px;
}
.top-table-first-col {
	width: 100px;
}
.top-table-second-col {
	width: 200px;
}
.vertical-align-middle {
	vertical-align: middle;
}
.order-first-col {
	width: 30px;
}
.order-second-col {
	width: 120px;
	height: 39px;
}
.order-third-row {
	height: 39px;
}
#subject {
	width: 100%;
}
#attachFile {
	display: none;
}
#fileList {
	border: solid 1px gray;
	border-radius: 5px;
	min-height: 28px;
	height: auto;
}
#fileList li {
	list-style-type: none;
}
.remove-x {
	color: gray;
	cursor: pointer;
}
.remove-x:hover {
	color: black;
}
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	margin: 0 auto;
	padding: 20px;
	height: 600px;
	width: 400px;
	top: 150px;
	background-color: white;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal-title, .dept-modal-title {
	font-weight: bold;
	font-size: 25px;
}
.tui-tree-wrap, .modal-add-list, .approval-type-list {
	height: 400px;
	width: 360px;
	overflow-y: auto;
}
.modal-add-list, .approval-type-list {
	background-color: #f9f9f9;
	padding: 20px;
}
.modal-inner-button {
	height: 400px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-line;
}
.modal-inner-button-child {
	display: block;
}
.list-add-button, .list-remove-button {
	width: 30px;
}
.disabled-button {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed; 
}
.add-list, .approval-type-list ul {
	list-style-type: none;
}
.add-list li, .approval-type-list li {
	cursor: pointer;
	padding-left: 10px;
}
.add-list li:hover, .approval-type-list li:hover {
	background-color: rgba(75, 150, 230, 0.1);
	background: #e7eff7;
}
.selected-value {
	background-color: rgba(75, 150, 230, 0.1);
	background: #e7eff7;
	color: #4b96e6;
}
.right-padding {
	padding-right: 40px;
}
#order-list-div {
	margin-left: 10px;
}
.form-select, .datepicker {
	width: 200px;
	display: inline;
}
#search-condition {
	width: 150px;
	display: inline;
}
#search-content {
	width: 400px;
	display: inline;
}
.approve-img, .reject-img {
	height: 40px;
}
#viewer {
	min-height: 300px;
}
