/**
* Department Style CSS
*/
.title-cate{
  color: #012970 !important;
}
.card-header{
  height: 135px;
}
.card-body{
  height: 530px;
}

.tui-tree-root {
	height: 450px;
}

.tui-tree-text {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #777;
    zoom: 1;
}

.tui-tree-opened .bi {
  background-position: -32px 0px;
}

.tui-tree-opened .tui-ico-tree {
  width: 8px;
  height: 5px;
  background-position: -22px -28px;
}

.tui-tree-closed .tui-ico-tree {
  width: 5px;
  height: 8px;
  background-position: -22px -35px;
}

.tui-tree-closed .bi {
  background-position: -16px -16px;
}

.list_userLink {
	color: black;
}

#tabContent {
}

#deptInfo_table_sample{
	display: none;
}

#deptUser_list_sample{
	display: none;
}

#changeDept_modal {
	display: none;
}

