<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.CommuteDAO">
	
	<select id="empList" resultType="String">
		SELECT u.user_code FROM user u WHERE classify_code IN ('U01', 'U02')
	</select>
	
	<select id="todayCommute" resultType="commute">
		SELECT o.* FROM officehour o WHERE o.user_code = #{param1} AND o.work_date LIKE CONCAT(CURDATE(), '%')
	</select>
	
	<insert id="autoCommute">
		INSERT INTO officehour(user_code, work_date, state)
			VALUES(#{param1}, CURDATE(), 2)
	</insert>
	
	<update id="autoLeaveWork">
		UPDATE officehour
			SET end_time = CONCAT(CURDATE(), ' 18:00:00')
				, work_hour = TIMESTAMPDIFF(HOUR, (SELECT o.start_time FROM officehour o 
					WHERE user_code = #{param1} AND work_date LIKE CONCAT(CURDATE(), '%')), CONCAT(CURDATE(), ' 18:00:00'))
		WHERE user_code = #{param1} AND work_date LIKE CONCAT(CURDATE(), '%')
	</update>
	
	<select id="stateCheck" resultType="Integer">
		SELECT
			<![CDATA[
			CASE
				WHEN a.is_vaca = 1 THEN 3
				WHEN o.work_hour < 5 THEN 2
				WHEN o.start_time > CONCAT(CURDATE(), ' 09:00:00') THEN 0
				WHEN o.end_time < CONCAT(CURDATE(), ' 18:00:00') THEN 1
				ELSE -1 END AS state_check
			]]>
		FROM officehour o JOIN (
			SELECT user_code, 1 AS is_vaca FROM approval WHERE CURDATE() BETWEEN start_date AND end_date
		) a ON o.user_code = a.user_code
		WHERE o.user_code = #{param1} AND o.work_date LIKE CONCAT(CURDATE(), '%')
	</select>
	
	<update id="stateUpdate">
		UPDATE officehour
			SET state = #{param2}
		WHERE user_code = #{param1} AND work_date LIKE CONCAT(CURDATE(), '%')
	</update>
	
	<select id="vacaListPageCnt" resultType="Integer">
		SELECT CEIL(COUNT(a.au_code)/#{param1})
		FROM approval a 
		JOIN user u ON a.user_code = u.user_code
		WHERE au_type = 1 AND a.user_code = #{param2}
	</select>
	
	<select id="vacaUseList" resultType="commute">
		SELECT 
			a.user_code
			, a.reg_date
			, a.start_date
			, a.end_date
			, a.va_type
			, a.va_days
		FROM approval a
		JOIN user u ON a.user_code = u.user_code
		WHERE a.au_type =1 AND a.user_code = #{param3}
		ORDER BY a.au_code DESC
		LIMIT #{param2} OFFSET #{param1}
	</select>
	
	<select id="attList" resultType="commute">
		SELECT
			o.work_date
			, o.start_time
			, o.end_time
			, CASE
				WHEN o.work_hour IS NULL THEN -1
				ELSE o.work_hour END AS work_hour
			, CASE
				WHEN o.state IS NULL THEN -1
				ELSE o.state END AS state
		FROM officehour o
		WHERE o.user_code = #{param3}
		<if test="param4 != '' and param5 != ''">
			AND o.work_date BETWEEN #{param4} AND #{param5}
		</if>
		ORDER BY o.work_date LIMIT #{param2} OFFSET #{param1}
	</select>
	
	<select id="attListPageCnt" resultType="Integer">
		SELECT 
			CEIL(COUNT(o.work_date)/#{param1}) 
		FROM officehour o
		WHERE o.user_code = #{param2}
		<if test="param3 != '' and param4 != ''">
			AND o.work_date BETWEEN #{param3} AND #{param4}
		</if>
	</select>
	
	<insert id="attendance">
		INSERT INTO officehour (user_code, work_date, start_time)
			VALUES(#{param1}, CURDATE(), CURRENT_TIMESTAMP())
	</insert>
	
	<update id="leaveWork">
		UPDATE officehour
			SET end_time = CURRENT_TIMESTAMP()
				, work_hour = TIMESTAMPDIFF(HOUR, (SELECT o.start_time FROM officehour o 
					WHERE o.user_code = #{param1} AND o.work_date LIKE CONCAT(CURDATE(), '%')), CURRENT_TIMESTAMP())
		WHERE user_code = #{param1} AND work_date LIKE CONCAT(CURDATE(), '%')
	</update>
	
	<select id="todayAtt" resultType="commute">
		SELECT 
			o.start_time
			, o.end_time
		FROM officehour o
		WHERE o.user_code = #{param1} AND o.work_date LIKE CONCAT(CURDATE(), '%')
	</select>
	
	<select id="monthAtt" resultType="commute">
		SELECT 
			(SELECT COUNT(o.user_code) FROM officehour o WHERE YEAR(o.work_date) = YEAR(CURDATE()) AND MONTH(o.work_date) = MONTH(CURDATE())
				AND o.state = 0 AND o.user_code = #{param1}) AS late_cnt
			, (SELECT COUNT(o.user_code) FROM officehour o WHERE YEAR(o.work_date) = YEAR(CURDATE()) AND MONTH(o.work_date) = MONTH(CURDATE())
				AND o.state = 1 AND o.user_code = #{param1}) AS early_cnt
			, (SELECT COUNT(o.user_code) FROM officehour o WHERE YEAR(o.work_date) = YEAR(CURDATE()) AND MONTH(o.work_date) = MONTH(CURDATE())
				AND o.state = 2 AND o.user_code = #{param1}) AS absent_cnt
	</select>
	
</mapper>
