<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.CourseDAO">
	<select id="courseList" resultType="course">
		SELECT c.*
				, u.name 
				, cr.course_space
		FROM course c
		JOIN course_rez cr on cr.course_no  = c.course_no
		JOIN user u on u.user_code  = c.user_code
		WHERE 1=1
			<if test="param4 != null and param4 != ''">
				 AND (
                <choose>
                    <when test="param3 == 'name'">
                        u.name LIKE CONCAT('%', #{param4}, '%')
                    </when>
                    <when test="param3 == 'course_name'">
                       	c.course_name LIKE CONCAT('%', #{param4}, '%')
                    </when>
                    <when test="param3 == 'course_space'">
                        cr.course_space LIKE CONCAT('%', #{param4}, '%')
                    </when>
                </choose>
            	)
			</if>
		 LIMIT #{param1}, #{param2}
	</select>
	
	
	<select id="reservationTime" resultType="course">
		select HOUR(start_time) as time,course_space from course_rez where YEAR(start_time) = YEAR(#{param1}) and  MONTH(start_time) = MONTH(#{param1}) and  DAY(start_time) = DAY(#{param1}) and course_space = #{param2}
	</select>
</mapper>