<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.DeptDAO">

	<select id="getDept" resultType="dept">
		SELECT team_name, team_code, upper_code, reg_date
		 FROM department 
		  ORDER BY reg_date ASC
	</select>

	<insert id="createDept" parameterType="map">
		INSERT INTO department(team_code, team_name, upper_code) 
		 VALUES(#{team_code}, #{team_name}, #{upper_code})
	</insert>
	
	<delete id="removeDept" parameterType="map">
		DELETE FROM department 
		 WHERE team_code = #{team_code}
	</delete>
	
</mapper>