<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.EmpDAO">

<!-- 사원 리스트 쿼리문 -->
<select id="empList" resultType="emp">
    SELECT 
        u.user_code, 
        u.name, 
        tc.code_name AS team_name, 
        cc.code_name AS class_name, 
        pc.code_name AS position_name,
        u.reg_date
    FROM 
        `user` u
    LEFT JOIN 
        all_code tc ON u.team_code = tc.code
    LEFT JOIN 
        all_code cc ON u.class_code = cc.code
    LEFT JOIN 
        all_code pc ON u.position_code = pc.code
    WHERE 
        pc.code_name IN ('팀장', '팀원')
        AND quit_date is null
        ORDER BY 
    	u.reg_date ASC
        <if test="param4 != null and param4 != ''">
            AND (
                <choose>
                    <when test="param3 == 'team'">
                        tc.code_name LIKE CONCAT('%', #{param4}, '%')
                    </when>
                    <when test="param3 == 'class'">
                        cc.code_name LIKE CONCAT('%', #{param4}, '%')
                    </when>
                    <when test="param3 == 'position'">
                        pc.code_name LIKE CONCAT('%', #{param4}, '%')
                    </when>
                </choose>
            )
        </if>
        <if test="startDate != null and startDate != ''">
			AND u.reg_date &gt;= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND u.reg_date &lt;= #{endDate}
		</if>
	LIMIT #{param1}, #{param2}
        
</select>


<!-- 사원 리스트 페이징 쿼리문 -->
<select id="empListPageCnt" resultType="Integer">
    SELECT CEIL(COUNT(u.user_code) / #{param1})
    FROM `user` u
    LEFT JOIN all_code tc ON u.team_code = tc.code
    LEFT JOIN all_code cc ON u.class_code = cc.code
    LEFT JOIN all_code pc ON u.position_code = pc.code
    WHERE u.position_code IN ('P01', 'P02')
    AND quit_date is null
    ORDER BY 
    u.reg_date ASC
        <if test="param3 != null and param3 != ''">
            AND (
                <choose>
                    <when test="param2 == 'team'">
                        tc.code_name LIKE CONCAT('%', #{param3}, '%')
                    </when>
                    <when test="param2 == 'class'">
                        cc.code_name LIKE CONCAT('%', #{param3}, '%')
                    </when>
                    <when test="param2 == 'position'">
                        pc.code_name LIKE CONCAT('%', #{param3}, '%')
                    </when>
                </choose>
            )
        </if>
        <if test="startDate != null and startDate != ''">
			AND u.reg_date &gt;= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			AND u.reg_date &lt;= #{endDate}
		</if>
        
</select>

<!-- 퇴사처리 쿼리문 -->
<update id="quitEmp">
    UPDATE user
    SET quit_date = CURRENT_DATE
    WHERE user_code = #{param} AND quit_date IS NULL;
</update>

<!-- 아이디 중복체크 쿼리문 -->
<select id="overlay" resultType="int">
	SELECT COUNT(id) FROM user WHERE id=#{param}
</select>

<!-- 사원 등록 쿼리문 -->
<insert id="reg" parameterType="map">
    INSERT INTO user (
        user_code, name, id, pw, email, phone, birth, gender, class_code, classify_code, position_code, reg_date, photo, status
    ) VALUES (
        CONCAT(
            YEAR(CURDATE()),
            #{classify_code},
            LPAD(
                IFNULL(
                    (SELECT MAX(CAST(RIGHT(u.user_code, 4) AS UNSIGNED)) + 1 FROM user u WHERE YEAR(u.reg_date) = YEAR(CURDATE()) AND u.classify_code = #{classify_code}),
                    1
                ),
                4,
                '0'
            )
        ),
        #{name},
        #{id},
        #{pw},
        #{email},
        #{phone},
        #{birth},
        #{gender},
        #{class_code},
        #{classify_code},
        'P02',
        #{reg_date},
        #{photo},
        '0'
    )
</insert>


	
</mapper>