<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.LoginDAO">
	<!--비밀번호 암호화 로그인 -->
	<select id="loginAccess" resultType="login">
		SELECT
          u.user_code,
          u.name,
          u.team_code,
          u.classify_code,
          ac1.code_name AS class_name,
          d.team_name,
          ac2.code_name AS classify_name,
          u.photo,
          u.pw,
          u.status
        FROM
          user u
        LEFT JOIN
          all_code ac1 ON u.class_code = ac1.code
        LEFT JOIN
          all_code ac2 ON u.classify_code = ac2.code
        LEFT JOIN
          department d ON u.team_code = d.team_code
        WHERE
          u.id = #{param1}
	</select>
	<!--  아이디찾기 결과불러오기 -->	 
	<select id="idFindResult" resultType="String">
		 SELECT id
    	 FROM user u
    	 WHERE name= #{param1} AND email= #{param2}
	</select>

	<select id="pwFindCheck" resultType="Integer">
		SELECT COUNT(u.user_code) FROM user u WHERE u.id = #{param1} AND u.email = #{param2}
	</select>
	
	<update id="updateTempPassword">
		UPDATE user SET pw = #{param2} WHERE id = #{param1}
	</update>

</mapper>