<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.LoginDAO">

	<select id="loginAccess" resultType="com.edu.care.dto.LoginDTO">
		SELECT
		 	u.user_code
		 	,u.team_code
			,u.class_code 
			,u.classify_code
			,u.name 
			,d.team_name
		FROM 
			user u
		JOIN 
			department d 
		ON 
			u.team_code = d.team_code
		WHERE
		 	u.id = #{param1} AND u.pw = #{param2}
	</select>

	

	
	
</mapper>