<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.MypageDAO">
	
	<select id="empMypage" resultType="mypage">
		SELECT
			u.user_code
			, u.name AS user_name
			, u.phone
			, u.email
			, u.reg_date
			, u.photo
			, ac.code_name AS class_name
			, d.team_name
		FROM user u JOIN all_code ac ON u.class_code = ac.code JOIN department d ON u.team_code = d.team_code
		WHERE u.user_code = #{param1}
	</select>
	
</mapper>