<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.care.dao.ScheduleDAO">
	<insert id="scheduleWrite" parameterType="schedule">
		INSERT INTO schedule
		(
			user_code
			, team_code
			, title
			, contents
			, start_date
			, end_date
			, reg_date
			, is_del
			, sked_type
		) VALUES(
			#{user_code}
			, #{team_code}
			, #{title}
			, #{contents}
			, #{start_date}
			, #{end_date}
			, NOW()
			, 0
			, #{sked_type}
		)	
	</insert>
	<select id="scheduleList" parameterType="schedule" resultType="schedule">
		SELECT 
			sch.sked_no
			, sch.user_code
			, sch.title
			, sch.contents
			, sch.start_date
			, sch.end_date
			, sch.sked_type
			, usr.name as name
			, (select team_name from department where team_code = usr.TEAM_CODE) as team_name
		FROM schedule sch
		LEFT JOIN user usr
		ON usr.user_code = sch.user_code
		WHERE 1=1
			AND sch.is_del = 0
		<if test="sked_type != null">
			AND sch.sked_type = #{sked_type}
			<choose>
				<when test="sked_type == 'SKED_TP01'">
				AND sch.team_code = 'T01'
				</when>
				<when test="sked_type == 'SKED_TP02'">
				AND sch.team_code = #{team_code}
				</when>
				<when test="sked_type == 'SKED_TP03'">
				AND sch.user_code = #{user_code}
				</when>
			</choose>
		</if>
		<if test="sked_type == null">
		and (
			(sch.team_code = #{team_code} and sch.sked_type = 'SKED_TP02') or
			(sch.user_code = #{user_code} and sch.sked_type = 'SKED_TP03') or
			(sch.sked_type = 'SKED_TP01')
		)
		</if>
	</select>
	
	<update id="scheduleDelete">
		UPDATE schedule SET is_del = 1 WHERE sked_no = #{param1}
	</update>
	
	<update id="scheduleUpdate"  parameterType="schedule">
		UPDATE 
			schedule 
		SET edit_user_code = #{user_code}
			, team_code = #{team_code}
			, title = #{title}
			, contents = #{contents}
			, start_date = #{start_date}
			, end_Date = #{end_date}
			, edit_date = NOW()
			, is_del = 0
			, sked_type = #{sked_type}
		WHERE 
			sked_no = #{sked_no}
	</update>

</mapper>